<div class="game-container">

    <div *ngIf="viewMode === 'category'" class="fade-in">
        <div class="welcome-badge">🚀 Escolha sua próxima aventura!</div>

        <div class="category-grid">
            <div *ngFor="let cat of categories" (click)="selectCategory(cat.id)" class="card-adventure"
                [style.border-bottom-color]="cat.color">
                <span class="icon-bubble">{{ cat.icon }}</span>
                <h3>{{ cat.name }}</h3>
                <button class="btn-play">Começar!</button>
            </div>
        </div>
    </div>

    <div *ngIf="viewMode === 'game'" class="quiz-box fade-in">
        <div *ngIf="!quizFinalizado; else finalizado">
            <div class="quiz-header">
                <button (click)="backToCategories()" class="btn-mini-back">⬅ Voltar</button>
                <div class="progress-pill">{{ currentIndex + 1 }} / {{ questions.length }}</div>
            </div>

            <app-question-card [question]="questions[currentIndex]" (answerSelected)="handleAnswer($event)">
            </app-question-card>
        </div>
    </div>

    <ng-template #finalizado>
        <div class="result-card fade-in">
            <div class="trophy">🏆</div>
            <h2>Inrível!</h2>
            <p>Você completou a missão <strong>{{ selectedCategory }}</strong>!</p>
            <div class="score-badge">Acertos: {{ score }} / {{ questions.length }}</div>
            <button class="btn-restart" (click)="backToCategories()">Outra Missão!</button>
        </div>
    </ng-template>

</div>