@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Fredoka', sans-serif;
    background: linear-gradient(180deg, #4facfe 0%, #00f2fe 100%);
    min-height: 100vh;
}